/*Geral*/
*{
    padding: 0;
    margin: 0;
    font-family: Arial,  sans-serif;
    color: black;
    box-sizing: border-box;
}

body{
    background-image: url("../img/imagem-para-projeto.png");
    background-size: cover;
}

button {
    border-color: white;
    color: red;
    border: 1px solid black;
    padding: 0.3rem 0.6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0,4s;
}